<h1>About Webboard</h1>
<p>Web Board is a way to design and create projects with anyone in the world. By having users able to draw anything they want on their board and view others, business meetings and student groups can use webboard to collaborate. In little time, you will be more productive!</p>
<p>The designers of this site are none other than:</p>
<ul>
	<li>Semere Ghebrechristos</li>
	<li>Evan Roncevich</li>
	<li>Irakli Zhuzhunashvili</li>
</ul>
<center><p>Goals of Webboard</p>
	<%= image_tag("graph4.png")%>
</center>
