<h1>Need Help with Webboard?</h1>
<p>Customer service and feedback are invaluable to the success of Webboard. As the site is still in Beta Testing, you may see bugs or maintenance underway. Rest assured that our top notch developers are losing sleep to fix your problems! However, if you are still thinking "I don't like people and I want to give these degenates more stress!" feel free to send us reports on any bugs, issues, and suggestions to '<b>webboardemail@gmail.com</b>'. Thanks for the support!</p>
<p>In your email be sure to include:</p>
<ul>
	<li>What concern you have</li>
	<li>What do you want changed</li>
	<li>Why do you want it changed (some bugs are cool!)</li>
	<li>What is your favorite color</li>
</ul>
<p>Thanks for being so patient with us while we are designing the site. Your help will not go unnoticed!</p>
<center><%=image_tag("DevWork1.jpg")%></center>