<% provide(:title, 'Home') %>

<div class="row">
	<div class="center jumbotron">
        <% if !signed_in? %>
            <div class="row">
                <div class="col-lg-7">
                    <h1>Welcome to Webboard</h1>
                    <h4>Webboard is an online application for real time collaboration through easy to use drawing tool. Webboard is free to use and easy to sign up. Have fun!</h4>
                </div>
                <div class="col-lg-4 col-lg-offset-1">

                    <%= render 'sessions/new' %>
                </div>
            </div>
        <% else %>
             <div class="row">
                 <div class="col-lg-10 col-lg-offset-1">
                     <h1>Welcome to Webboard</h1>
                          <h4>Webboard is an online application for real time collaboration through easy to use drawing tool. Webboard is free to use and easy to sign up. Have fun!</h4>
                 </div>
             </div>
        <% end %>
	</div>
</div>