<div class="center hero-unit">

	<h1>Welcome to the Webbboard</h1>
	<h4>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</h4>
	</div>

  	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>