<%= link_to user, class: 'list-group-item' do%>
		<span class="list-user">
    <%= user.name %>
    </span>
    <span class="badge">Member for <%= time_ago_in_words(user.created_at) %></span>
<% end %>
