<body>
	<form name="color" action="" method="GET">
		Color: <input type="text" name="colorInput">
		<input type="button" name="colorButton" value="Change Color" onclick="changeColor(this.form)">
	</form>
	<canvas id="canvas1" resize></canvas>
</body>